* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow: hidden;
  width: 1500px;
  background-color: white !important;
  position: fixed !important;
  z-index: 900;
  list-style: none;

  height: 75px;
}

ul {
  display: flex;
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0px 20px;
  font-size: 16px;

  width: 800px;
  height: 80px;
  font-size: 25px;
}


.navlist button {
  width: 122px;
  height: 45px;
  left: 1554px;
  top: 53px;
  color: white;
  background: #0c2c6b;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.container1 {
  display: inline-block;

  position: absolute;
  width: 519px;
  height: 208px;
  left: 70px;
  top: 207px;
  list-style: none;
}

#heading {
  font-family: 900;
  font-size: 45px;
}

#input {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
  margin-left: 150px;
  border-radius: 50px;
}

#sid {
  position: absolute;

  width: 300px;
  height: 33px;
  left: -150px;

  background: #fafafa;
  border: 0.5px solid #b1b1b1;
  border-radius: 10px 0px 0px 10px;
}

#sbtn {
  position: absolute;
  width: 150px;
  height: 33px;
  left: 128px;
  color: aliceblue;
  border: 0.5px solid #b1b1b1;
  background: #f5801c;
  border-radius: 0px 10px 10px 0px;
}

#lorem {
  font-family: Sora;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-align: left;
}

.container2 {
  display: flex;
  justify-content: right;
  position: absolute;
  left: 700px;
  top: 100px;
}

.headpopular {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 680px;
  left: 40%;
  width: 295px;
  height: 38px;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.05em;
  color: #0c2c6b;
}

.headpopular1 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 950px;
  left: 35%;
  width: 370px;
  height: 38px;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.05em;
  color: #0c2c6b;
}

.parent {
  display: flex;
  justify-content: space-around;

  position: absolute;
  top: 750px;
  gap: 40px;
  left: 171px;
}

.child {
  display: block;
  text-align: center;

  width: 270px;
  height: 291px;
}

.child h4 {
  color: #0c2c6b;
  size: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
}

.child p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.05em;
  line-height: 25px;
  margin-top: -20px;
  color: #000000;
}

.lable {
  display: flex;
  justify-content: left;
  position: absolute;
  top: 1030px;
  gap: 60px;
  left: 90px;
  color: gray;
}

.lable p:hover {
  border-bottom: 3px solid black;
  color: #0c2c6b;
}

.parentcard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  width: 1500px;

}


.cards {

  /* overflow: hidden; */
  /* position: absolute; */
  height: 315px;
  width: 285px;
  align-items: center;

  line-height: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.cards img {
  height: 190px;
  opacity: 50%;
  border-radius: 10px 10px 0px 0px;
}

.head1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 30px;
}

.head1 :nth-child(1) {
  color: gray;
}

.head1 :nth-child(2) {
  color: green;
  border: 1px solid green;
  border-radius: 10px;
  padding: 1px;
}

.head2 :nth-child(2) {
  color: green;
}

.head3 {
  display: flex;
  justify-content: space-evenly;

}

.cards button {
  width: 100%;
  background-color: orange;
  border-radius: 0px 0px 10px 10px;
  border: none;
  height: 30px;

}

.playbtn {
  position: absolute;
  color: white;
  top: 27%;
  left: 45%;
  height: 50px;
  width: 50px;
  font-size: 30px;

  text-align: center;
  border: 5px solid whitesmoke;
  border-radius: 50%;
}


.parentcard {
  display: flex;
  top: 800px;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  width: 1500px;
  margin-top: 300px;
}

.headpopular3 {
  position: absolute;
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: 700;
  width: 180px;
  left: 43%;
  top: 1450px;
  color: #0C2C6B;
  font-size: 20px;

}

.headpopular4 {
  position: absolute;
  text-align: center;


  font-weight: 700;
  width: 400px;
  left: 36%;
  top: 1550px;
  color: #0C2C6B;
  font-size: 30px;

}

#line {
  position: absolute;

  border-bottom: 2px solid black;
  width: 500px;
  left: 35%;
  top: 1500px;
  color: white;

}

.mens img {

  width: 76px;
  height: 96px;
  margin: 10px;
  border-radius: 10px;

}

.mens {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 1660px;
  width: 1520px;
  height: 126px;

  /* border: 4px solid black; */
}

.men1 {

  width: 400px;
  display: flex;
}

.men2 {

  width: 400px;
  display: flex;
}

.men3 {

  width: 400px;
  display: flex;
}


.li1 {
  display: flex;
  justify-content: space-between;


  margin: 5px;
}

.ul1 {
  display: block;
  width: 290px;

}

.li2 {
  color: gray;
}

.li1 :nth-child(2) {
  color: green;
  border: 1px solid green;
  border-radius: 26px;
  padding: 4px;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 1800px;
  Width: 1520px;
  Height: 371px;

  background: #0C2C6B;
}

.icon {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 100px;
  align-items: center;
  width: 300px;
  left: -10px;
}

#idb1 {
  width: 145px;
  height: 50px;
  left: 70px;
  top: 2093px;

  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;

  color: #F5801C;


}

#idb2 {

  position: absolute;
  width: 260px;
  height: 59px;
  top: 80px;


  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #FFFFFF;

}

.block1 {

  display: block;
  margin: 20px;
  position: absolute;
  left: 20px;

}

.block2 {
  display: block;
  margin: 20px;
  position: absolute;
  width: 426px;
  height: 28px;
  left: 586px;
  top: 10px;
  line-height: 230px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 45px;
  color: #FFFFFF;
}

.block3 {
  display: block;
  margin: 20px;
  position: absolute;
  width: 426px;
  height: 28px;
  left: 886px;
  top: 10px;
  line-height: 230px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 45px;
  color: #FFFFFF;
}

.block4 {
  display: block;
  margin: 20px;
  position: absolute;
  width: 300px;
  height: 28px;
  left: 1186px;
  top: 16px;
  line-height: 230px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 60px;
  color: #FFFFFF;
}

.block4 h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}

.block4 button {
  width: 201px;
  height: 55px;
  left: 1385px;
  margin-top: 20px;
  background: #FFFFFF;
  border-radius: 55px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.105em;
  color: #FD1A1A;
}

#img1 {
  position: relative;
  left: -10px;
  top: 10px;
  width: 20px;
  height: 20px;
}

#img2 {
  position: relative;
  left: -13px;
  top: 14px;
  width: 20px;
  height: 20px;
}
#line2{
  position: absolute;
  color: #fafafa;
 
   left: 35px;
 top: 280px;
  text-align: center;
 
}
#line3{
  position: absolute;
  top: 320px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.logo {
  margin-top: 20px;
  margin-left: 30%;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  color: #ffaa01;
  text-decoration: underline;
}
.logoName{
  color: #f5801c;
}